<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {{#each collections.posts}}
      <a href="blog/{{this.name}}/index.html">
        <h2>{{{this.title}}}</h2>
        <p>{{formatDate this.date}}</p>
        <p>{{this.summary}}</p>
        <p><a href=""></a></p>
      </a>
    {{/each}}
  </body>
</html>
